body {
	background-color: #87CEFA;
}

.theHeader {
	color: white;
	background-color: orange;
	font-size: 24px;
	text-align: center;
}

h1 {
	font-size: 32px;
	padding: 10px;
	font-family: "Helvetica";
	font-weight: bold;
}

.instructions {
	background-color: #F0E68C;
}

.number-to-guess {
	background-color: white;
	width: 400px;
	height: 60px;
}

.win-loss-counter {
	background-color: green;
	width: 150px;
	height: 150px;
}

.gems {
	background-color: #fffff0;
	border: 4px solid black;
		text-align: center;
}

.gems p {

	font-weight: bold;
}
.instructions,
.number-to-guess,
.win-loss-counter,
.gems,
.totalScore
{
	padding: 1%;
	margin: 1%;
}

.instructions p,
.win-loss-counter p
{
	padding: 10px;
}